html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*a {*/
    /*color: inherit;*/
/*}*/
a:hover {
    text-decoration: none !important;
}


body {
    box-sizing: border-box;
    font-size: 16px;
}

section {
    margin-bottom: 100px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
.hidden {
    overflow: hidden;
}


header {
    position: relative;
    z-index: 5;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    padding: 25px 15px;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}


/*hamburger*/
.burger-menu {
    position: relative;
    cursor: pointer;
}
.burger-menu__line {
    width: 26px;
    height: 3px;
    background-color: #08122c;
    display: block;
    margin: 4px auto;
}
/*hamburger*/

/*slide-menu*/
.slide-menu {
    position: fixed;
    width: 320px;
    height: 100%;
    background: #ffffff;
    padding: 30px;
    transform: translateX(-100%);
    top: 0;
    transition: .3s ease;
    z-index: 6;
}
.slide-menu.open {
    transform: translateX(0);
}

.slide-menu__list {
    padding: 10px 0;
    margin: 0;
}
.slide-menu__item {
    padding: 5px 0;
}
.slide-menu__link {
    position: relative;
    color: #51a2d7 !important;
}
.slide-menu__link:before, .slide-menu__link:after {
    position: absolute;
    content: '';
    bottom: -5px;
    height: 2px;
    width: 0;
    background: #51a2d7;
    transition: .3s all;
}
.slide-menu__link:before {
    left: 50%;
}
.slide-menu__link:after {
    right: 50%;
}

.slide-menu__link:hover:before, .slide-menu__link:hover:after {
    width: 50%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 5;
}
.overlay.show {
    display: block;
}

.close  {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform .25s ease-in-out;
    transform: scale(.7);
}
.close:after, .close:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 3px solid #232323;
    transform-origin: center;
    transition: all .25s ease-in-out;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
/*slide-menu*/

/*logo*/
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*logo*/

/*header contact*/
.header-contact__link {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
/*header contact*/





footer {
    position: relative;
    bottom: 0;
    padding: 50px 0;

    background: #232122;
}

.social_head {
    color: #fff;
    margin-top: 3px;
    margin-bottom: 20px;
    letter-spacing: -.3px;
    font-weight: 300;
}
.footer__social .social_form {
    margin-bottom: 45px;
}

.social_form {
    width: 100%;
    max-width: 240px;
    position: relative;
}

.form_text {
    width: 100%;
    height: 45px;
    line-height: normal;
    padding: 0 47px 0 10px;
    font-size: 16px;
    outline: 0 none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.form_submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    border: none;
    cursor: pointer;
    outline: 0;
    background-color: #ffd41c;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.container-fluid {
    width: 100%;
    padding: 0 15px;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}
.footer__item {
    width: 25%;
}
.footer-wrapper ul {
    list-style: none;
}
.menu-item a {
    font-weight: 500;
    cursor: pointer;
}

.menu-item a:hover {
    text-decoration: underline;
    color: #ffe91a;
}

.social__item {
    display: inline-block;
}
.social__item:not(:last-child) {
    margin-right: 15px;
}
.social__link {
    color: #ffffff;
}

.footer__list a {
    color: #fff;
    line-height: 30px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#carousel {
    position: relative;
    width:60%;
    margin:0 auto;
}

#slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
}

#slides ul {
    list-style: none;
    width:100%;
    height:250px;
    margin: 0;
    padding: 0;
    position: relative;
}

#slides li {
    width:100%;
    height:250px;
    float:left;
    text-align: center;
    position: relative;
    font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 40px;
    width: 100%;
}

#buttons {
    padding:0 0 5px 0;
    float:right;
}

#buttons a {
    text-align:center;
    display:block;
    font-size:100px;
    float:left;
    outline:0;
    margin:0 60px;
    color: #ffe91a;
    text-decoration:none;
    display:block;
    padding:9px;
    width:35px;
}

a#prev:hover, a#next:hover {
    color:#FFF;
    text-shadow:.5px 0px #b14943;
}

.quote-phrase, .quote-author {
    font-family:sans-serif;
    font-weight:300;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
    font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
    height: 200px;
    font-size:24px;
    color: #1a1a1a;
    font-style:italic;
}

.quote-marks {
    font-size:30px;
    padding:0 3px 3px;
    position:inherit;
}

.quote-author {
    font-style:normal;
    font-size:25px;
    color: #ffcc18;
    font-weight:400;
    height: 30px;
}

.quoteContainer, .authorContainer {
    display: table;
    width: 100%;
}

.main-slider {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

.main-slider .swiper-slide {
    position: relative;
    padding-bottom: 35%;
}
.main-slider__image, .main-slider__text {
    position: absolute;
    height: 100%;
}
.main-slider__image {
    width: 60%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.main-slider__text {
    padding: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /*display: flex;*/
    /*align-items: center;*/
    width: 40%;
}
.main-slider__text-container {
    position: relative;
    max-height: 65%;
    height: 100%;
    overflow: hidden;
}
.main-slider__text-container p {
    position: relative;
    height: 100%;
}
.main-slider__text-container p:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #fff, rgba(255,255,255, 0));
}

/*main slider*/

/*executives*/
.executive__list {
    margin: 0 -10px 30px;
    display: flex;
    flex-wrap: wrap;
}
.executive__item {
    width: calc(100% / 3);
    padding: 0 10px;
    text-align: center;
}
.executive__title {
    margin-top: 10px;
    font-size: 18px;
}

.executive__attention {
    text-align: center;
    padding: 16px;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}
/*executives*/

/*review*/
.review {
    margin-bottom: 60px;
}
.review__slide {
    text-align: center;
    padding: 0 50px;
}
.review__text {
    font-size: 24px;
    font-style: italic;
    max-width: 600px;
    margin: 0 auto;
}
.review__author {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
}
/*review*/
.children-slider {
    margin-bottom: 50px;
}
.children-slider .main-slider__text {
    right: auto;
    left: 0;
}
.children-slider .main-slider__image {
    left: auto;
    right: 0;
}
.donate-link-wrap {
    text-align: center;
}
.donate-link {
    display: inline-block;
    padding: 16px 50px;
    color: #004085;
    background-color: #cce5ff;
    border: 2px solid #b8daff;
    font-size: 20px;
    font-weight: 500;
    transition: .2s ease;
}


.center {
    text-align:center;
}

.post {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: .25rem!important;
    border: 2px solid #ffcc18!important;
    margin-bottom: 15px;
}

.main-attachment {
    display: flex;
    align-items: center;
}
.pay-button {
    background-color: rgba(255,246,28,0.98);
    border-color: #007bff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pay-button:hover {
    background-color: rgba(255,227,27,0.98);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pay-button a{
    color: #0c0c0c;
    text-decoration: none;!important;
}


